*
{
  margin: 0
  padding: 0

}
.header {
  color: black;
  text-decoration: none;
  padding: 5px 20px; 
  font-family: "Roboto", sans-serif; 
  font-size: 25px;
}
.header p {
  color : gray;
  text-decoration:none;
  font-family: "Roboto", sans-serif; 
  font-size: 15px;

}
.welcome {
color: black;
  text-decoration: none;
  padding: 5px 20px; 
  font-family: "Roboto", sans-serif; 
  font-size: 20px;
}
.welcome p {
  color: black;
  text-decoration: none;
  padding: 5px 20px; 
  font-family: "Roboto", sans-serif; 
  font-size: 15px;
}
.chapter li {
  color: black;
  text-decoration: none;
  padding: 5px 20px; 
  font-family: "Roboto", sans-serif; 
  font-size: 20px;
}
.chapter li.p {
  color: black;
  text-decoration:none;
  font-family: "Roboto", sans-serif; 
  font-size: 10px;
}
